---
import Tabs from "../../components/Tabs.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Tabs component test</title>
  </head>
  <body>
    <main>
      <h1>Tabs test page</h1>
      <section>
        <Tabs />
      </section>
    </main>
  </body>
</html>
